<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XJUEGOS - Página Principal</title>
    <script src="https://kit.fontawesome.com/affca5821d.js" crossorigin="anonymous"></script>
    <script src="script2.js" defer></script>
    <script src="logo.js" defer></script>
    
    <link rel="stylesheet" href="styles.css"> <!-- Enlace al archivo CSS separado -->
   
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">

 

                <header>
                    <h1 class="colored-letter letter-x">X</h1>
                    <h1 class="colored-letter letter-j">J</h1>
                    <h1 class="colored-letter letter-u">U</h1>
                    <h1 class="colored-letter letter-e">E</h1>
                    <h1 class="colored-letter letter-g">G</h1>
                    <h1 class="colored-letter letter-o">O</h1>
                    <h1 class="colored-letter letter-s">S</h1>

                    <button id="logoButton" class="logo-button">
                        <img src="./images/LogoX.png" alt="Logo" class="logo-image">
                    </button>
                    <div class="navigation-menu">
                        <button id="registration">Registrate!</button>
                        <button id="login">Iniciar sesión</button>
                        <button id="shoppingCart">
                            <i class="fas fa-shopping-cart"></i> Carrito
                            <span id="cartItemCount">0</span>
                        </button>
                    </div>
                </header>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4">

 

                <nav class="d-flex justify-content-center align-items-center">

                    <a href="Categoria1.html">
                        <img src="./images/roguelikes.jpg" alt="Roguelike">
                        <span>Roguelikes</span>
                    </a>
                    <a href="Categoria2.html">
                        <img src="./images/aventura.jpg" alt="Aventura">
                        <span>Aventura</span>
                    </a>
                    <a href="Categoria3.html">
                        <img src="./images/deportes.jpg" alt="Deportes">
                        <span>Deportes</span>
                    </a>
                    <a href="Categoria4.html">
                        <img src="./images/supervivencia.png" alt="Supervivencia">
                        <span>Supervivencia</span>
                    </a>
                    <a href="Categoria5.html">
                        <img src="./images/terror.png" alt="Terror">
                        <span>Terror</span>
                    </a>
                </nav>


            </div>



        </div>
    </div>
    
    
    
    <footer class="text-center">
        <p>¡Bienvenido a XJUEGOS!</p>

</body>


</html>